<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method="post" >
    <p><label>Name of Cheese</label>
        <input type="text" name="cheeseName" /></p>
    <p><label for="description">Description of cheese</label>
        <textarea id="description" class="form-textarea" name="description" cols="10"></textarea></p>
    <p><input type="submit" value="Add Cheese" /></p>
</form>
</body>
</html>